form{
align-content: center;

}
p{
    font-style: normal;
}
.supportchat{
    background-color: black;
    color: white;
    border-radius: 3px;
    height: 25px;
    width: 200px;
}
.viacall{
    background-color: black;
    color: white;
    border-radius: 3px;
    height: 25px;
    width: 200px;
}
.emailform{
    margin-top: 10px;
    height: 25px;
    width: 400px;
}
.name{
    margin-top: 25px;
    margin-left: 10px;
    width: 370px;
}
.email{
    margin-top: 25px;
    margin-left: 10px;
    width: 370px;
}
.textarea{
    margin-top: 25px;
    margin-left: 10px;
    width: 370px;
}
.submit{
    margin-left: 320px;
    background-color: black;
    color: white;
}
img{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 500px;
    top: 200px;
}