.parent {
    width: 300px;
    height: 300px;
    margin-left: 490px;
    margin-top: 30px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
}

.email {
    border-radius: 3px;
    width: 190px;
}

.password {
    border-radius: 3px;
    width: 190px;
}

.button {
    width: 200px;
    background-color: rgb(69, 69, 184);
    color: white;
    border-radius: 3px;
    width: 190px;

}