.parent{
    border-color: black;
    width: 450px;
    height: 500px;
    margin-left: 450px;
    margin-top: 50px;
    background-color: rgb(235, 243, 243);
    text-align: center;
    border-radius: 10px;
}
.name{
border-radius:3px ;
width: 190px;
}
.email{
border-radius:3px ;
width: 190px;
}
.password{
border-radius:3px ;
width: 190px;
}
.button{
    width: 180px;
    background-color: blue;
    color: white;
}
